@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a,input,button {
	transition: all ease-out .3s;
}

@font-face {
    font-family: 'ArrowHalfFilled';
    src: url('fonts/arrow-half-filled-right.eot');
    src: url('fonts/arrow-half-filled-right.eot?#iefix') format('embedded-opentype'),
         url('fonts/arrow-half-filled-right.woff') format('woff'),
         url('fonts/arrow-half-filled-right.ttf') format('truetype'),
         url('fonts/arrow-half-filled-right.svg#arrow-half-filled-right') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon6-']:before{
	display: inline-block;
	font-family: 'ArrowHalfFilled';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon6-half-filled-right:before{content:'\0041';}

.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
body {
	font-family: $font_main;
	font-size: 16px;
	line-height: 1.4;
	color: $color_text_main;
	overflow-y: auto;
    overflow-x: hidden;
}
.hide {display: none!important;}
.wrapper {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	@include tab {
		max-width: 80%;
		padding-left: 0;
		padding-right: 0;
	}
}
.flexrow {
	@include flexgroup();
	@include flexbox-align-items(center);
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.btn {
	text-decoration: none;
	display: inline-block;
	background: $blue;
	font-size: 15px;
	line-height: 1;
	padding: 10px 30px;
	color: #FFF;
	-webkit-appearance:none;
	text-shadow: none;
	box-shadow: none;
	border: none;
	overflow: hidden;
	vertical-align: middle;
	transition-duration: 0.3s;
	transform: perspective(1px) translateZ(0);
	@include tab {
		font-size: 1.5vw;
	}
	&.white {
		background: #FFF;
		color: $blue;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		background-image:url("images/wave-hover.png");
		background-position: top right;
		background-size: 200%;
		// right: 0;
		// bottom: 0;
		// background: $light_blue;
		// -webkit-transform: scaleY(0);
		// transform: scaleY(0);
		// -webkit-transform-origin: 50% 100%;
		// transform-origin: 50% 100%;
		// -webkit-transition-property: transform;
		// transition-property: transform;
		// -webkit-transition-duration: 0.3s;
		// transition-duration: 0.3s;
		// -webkit-transition-timing-function: ease-out;
		// transition-timing-function: ease-out;
		width: 100%;
		height: 0;
		transition: all 2s ease-out;
	}
	&:hover {
		color: #FFF;
		// &:before {
		// 	-webkit-transform: scaleY(1);
  //   		transform: scaleY(1);
		// }
		&:before {
			height: 200%;
			background-position: top left;
			transition: all 1s ease-out;
		}
	}
}
/* Header */
.site-header {
	width: 100%;
	z-index: 100;
	position: relative;
	height: 60px;
	background: #FFF;
	@include tab {
		background: transparent;
		height: auto;
		margin-top: 40px;
		margin-bottom: 30px;
	}
}
body.home .site-header {
	position: absolute;
	top: 0;
	left: 0;
}
.logo {
	width: 160px;
    position: absolute;
    z-index: 10;
    top: 8px;
    transition: all ease-out .3s;
	@include tab {
		top: 0;
		width: 300px;
	}
	a, img {
		display: block;
		width: 100%;
		height: auto;
		float: left;
		transition: all ease-out .3s;
	}
}

/* Menu */
.main-navigation {
	width: 100%;
	position: absolute;
	left: 0;
	@include tab {
		position: relative;
		@include flexgroup();
		@include flexbox-align-items(center);
	}
	.main-menu {
		width: 100%;
		display: none;
		@include tab {
			display: block;
		}
	}

	.main-menu {
		@media screen and (max-width: $tabwidth - 1px) {
			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;
		}
	}

	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	.menu {
		display: block;
		float: left;
		width: 100%;
		background: $blue;
		padding-top: 20px;
		padding-bottom: 20px;
		@include tab {
			display: inline-block;
			float: right;
			width: auto;
			background: transparent;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.menu > li {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
		@include tab {
			width: auto;
			float: left;
			text-align: left;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.menu a {
		text-decoration: none;
		display: block;
		position: relative;
	}
	.menu > li {
		padding: 0 15px;
	}
	.menu > li > a {
		padding: 10px 5px;
		text-transform: uppercase;
		font-size: 18px;
		font-style: italic;
		color: #FFF;
		.wave {
			position: absolute;
			bottom: -5px;
			overflow: hidden;
			visibility: hidden;
			opacity: 0;
			transition: all ease-out .3s;
			width: 80px;
			left: 50%;
			transform: translateX(-50%);
			@include tab {
				width: 100%;
				left: 0;
				transform: none;
			}
		}
	}
	.menu > li:hover > a .wave {
		visibility: visible;
		opacity: 1;
		path {
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;
			animation: dash 5s linear alternate infinite;
		}
	}
	.menu > li ul {
		display: none;
	}
}
#waveSvg {
	display: none;
}
.wave {
	.st0{
		fill:none;
		stroke:#FFFFFF;
		stroke-miterlimit:10;
	}
}
body.subpage  .wave {
	.st0{ 
		stroke: $blue;
	}
}

body.subpage .main-navigation {
	.menu > li > a {
		color: #FFF;
		@include tab {
			color: $blue;
		}
	}
	.menu li.current_page_item > a .wave {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes dash {
	from {
		stroke-dashoffset: 1000;
	}
	to {
		stroke-dashoffset: 0;
	}
}
.menu-toggle {
	display: block;
	width: 36px;
	height: 40px;
	-webkit-appearance: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	border-radius: 0px;
	position: absolute;
	top: 10px;
	right: 25px;
	padding: 0 0;
	margin: 0 0;
	@include tab {
		display: none;
	}
	span.bar {
		display: inline-block;
		position: relative;
		top: -2px;
	}
	span.bar,
	span.bar:before,
	span.bar:after {
		width: 100%;
		height: 4px;
		background: $blue;
		transition: all ease-out .3s;
	}
	span.bar:before, span.bar:after {
		content:"";
		position: absolute;
		left: 0;
	}
	span.bar:before {
		top: -10px;
	}
	span.bar:after {
		top: 10px;
	}
	&.open {
		span.bar {
			background: transparent;
		}
		span.bar:before {
			transform: translateY(10px) rotate(45deg);
		}
		span.bar:after {
			transform: translateY(-10px) rotate(-45deg);
		}
	}
}

body.home .site-content.wrapper {
	max-width: 100%;
	width: 100%;
	padding: 0 0;
}
body.subpage .site-content.wrapper {
	margin-top: 60px;
}
img.rowImg {
	display: none;
	width: 100%;
	height: auto;
	float: left;
	transition: all ease-out .3s;
	@include tab {
		display: block;
	}
}
.mobileImg {
	display: block;
	width: 100%;
	float: left;
	height: 480px;
	position: relative;
	background-size:cover;
	background-position: top center;
	@include tab {
		display: none;
	}
}

.section {
	width: 100%;
	float: left;
	position: relative;
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.content-row {
	width: 100%;
	float: left;
	position: relative;
	color: $color_text_main; 
	z-index: 10;
	.text {
		font-size: 15px;
		font-weight: 300;
		@include tab {
			font-size: 2vw;
		}
		@include desk {
			font-size: 26px;
		}
	}
	.sHead {
		margin-bottom: 2%;
		@include tab {
			margin-bottom: 3%;
		}
	}
	.sbutton {
		margin-top: 4%;
		@include desk {
			margin-top: 5%;
		}
	}
}

.titlesm,
.titlelg {
	line-height: 1.1;
	position: relative;
	font-style: italic;
}
.titlesm {
	font-size: 20px;
	font-weight: 500;
	bottom: -1px;
	left: 4px;
	@include tab {
		bottom: -2px;
		font-size: 2.5vw;
	}
	@include desk {
		font-size: 50px;
	}
}
.titlesm.xs {
	font-size: 18px;
	bottom: 4px;
	left: 4px;
	@include tab {
		bottom: -2px;
		font-size: 2.5vw;
	}
	@include desk {
		font-size: 30px;
	}
}
.titlelg  {
	font-size: 26px;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	@include tab {
		font-size: 4vw;
	}
	@include mid {
		font-size: 42px;
	}
	@include desk {
		font-size: 70px;
	}
	&.md {
		font-size: 30px;
		font-weight: 800;
		font-style: italic;
		text-transform: uppercase;
		@include tab {
			font-size: 3vw;
		}
		@include mid {
			font-size: 38px;
		}
		@include desk {
			font-size: 52px;
		}
	}
}

.section.row1 {
	background-color: #0B395A;
	.textwrap {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		@include flexgroup-center();
	}
	.inner {
		width: 85%;
		margin: 0 auto;
		position: relative;
		margin-top: 0;
		@include tab {
			width: 80%;
			margin-top: -2%;
		}
	}
	.innerText {
		@include tab {
			width: 60%;
		}
	}
}

.section.row2 {
	background-color: $blue;
	.content-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.sHead {
			@include desk {
				float: right;
			}
			@media screen and (min-width:1500px) {
				width: 500px;
			}
		}
	}
	.textwrap {
		position: absolute;
		top: -5%;
		right: 0;
		width: 53%;
		height: 100%;
		margin-right: 20px;
		color: #FFF;
		text-align: right;
		@include flexgroup-center();
		@include tab {
			top: 2%;
			width: 35%;
			margin-right: 15%;
		}
		@include desk {
			top: 0;
			margin-right: 15%;
		}
	}
	// .titlesm {
	// 	font-size: 20px;
	// 	font-weight: 500;
	// 	bottom: -2px;
	// 	left: 4px;
	// 	@include tab {
	// 		font-size: 2.5vw;
	// 	}
	// 	@include desk {
	// 		font-size: 28px;
	// 	}
	// }
	// .titlelg  {
	// 	font-size: 30px;
	// 	font-weight: 800;
	// 	font-style: italic;
	// 	text-transform: uppercase;
	// 	@include tab {
	// 		font-size: 3vw;
	// 	}
	// 	@include mid {
	// 		font-size: 38px;
	// 	}
	// 	@include desk {
	// 		font-size: 50px;
	// 	}
	// }
	.text {
		width: 100%;
		float: left;
	}
}

.section.row3 {
	.content-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.sHead {
			width: 100%;
		}
	}
	.textwrap {
		width: 100%;
		height: 100%;
		@include flexgroup-center();
	}
	.wrapper {
		top: 15px;
		@include tab {
			top: 20px;
		}
	}
}

.section.row4 {
	.content-row {
		position: absolute;
		top: 0;
		right: 0;
		width: 70%;
		height: 100%;
		text-align: right;
		@include tab {
			width: 45%;
		}
		@include extra {
			width: 38%;
		}
		@media screen and (max-width: $tabwidth - 1px) {
			width: 95%;
		}
		.sHead {
			margin-bottom: 0;
		}
	}
	.textwrap {
		width: 100%;
		height: 100%;
		position: relative;
		margin-top: -20%;
		@include flexgroup-center();
		@media screen and (max-width: $tabwidth - 1px) {
			margin-top: -12%;
		}
		@media screen and (max-width: $tabwidth - 1px) {
			&:before {
				content:"";
				display: block;
				width: 100%;
				height: 80%;
				position: absolute;
				top: 0;
				right: 0;
				background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
			}
		}
	}
	.inner {
		padding-right: 8%;
		position: relative;
		z-index: 10;
		@include tab {
			padding-right: 10%;
		}
		@include mid {
			padding-right: 15%;
		}
		@include extra {
			padding-right: 25%;
		}
		@media screen and (max-width: $tabwidth - 1px) {
			width: 66%;
			position: absolute;
			right: 0;
		}
	}
}

.section.row5 {
	.content-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.sHead {
			margin-bottom: 0;
		}
		.sbutton {
			margin-top: 2%;
		}
	}
	.textwrap {
		width: 100%;
		height: 100%;
		position: relative;
		margin-top: -5%;
		@include flexgroup-center();
		@media screen and (max-width: $tabwidth - 1px) {
			margin-top: -14%;
		}
	}
	.largetexts {
		max-width: 950px;
		width: 95%;
		@include mid {
			width: 95%;
		}
		@include extra {
			width: 80%;
		}
		.titlelg {
			padding-right: 55px;
			line-height: 1;
			margin-bottom: 10px;
			@include flexbox();
			@include flexbox-align-items(center);
			//@include flexgroup-center();
			@include tab {
				padding-right: 70px;
			}
			@include mid {
				padding-right: 140px;
			}
			@include desk {
				padding-right: 180px;
			}
		}
		.timg {
			width: 50px;
			height: 100%;
			position: absolute;
			right: 0;
			@include flexbox();
			@include flexbox-align-items(center);
			@include tab {
				width: 70px;
			}
			@include mid {
				width: 95px;
			}
			@include desk {
				width: 220px;
			}
		}
		img.img {
			display: inline-block;
			width: 100%;
			height: auto;
			// position: absolute;
			// right: 0;
			// @include tab {
			// 	width: 70px;
			// }
			// @include mid {
			// 	width: 140px;
			// }
			// @include desk {
			// 	width: 180px;
			// }
		}
	}
	.text {
		@include mid {
			width: 70%;
			padding-right: 230px;
		}
	}
}

.section.row6 {
	background-color: $blue;
	.content-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.sHead {
			margin-bottom: 10px;
			@include desk {
				float: right;
				width: 85%;
			}
			@media screen and (min-width:1600px) {
				width: 475px;
			}
		}
	}
	.textwrap {
		position: absolute;
		top: -14%;
		right: 0;
		width: 53%;
		height: 100%;
		margin-right: 20px;
		color: #FFF;
		text-align: right;
		@include flexgroup-center();
		@include tab {
			width: 35%;
			margin-right: 15%;
		}
		@include mid {
			margin-right: 15%;
			width: 33%;
		}
		@include desk {
			top: -15%;
		}
		@include extra {
			margin-right: 15%;
		}
		.inner {
			width: 100%;
			float: left;
		}
	}
	.text {
		width: 100%;
		float: left;
	}
	p {
		margin-top: 0;
	}
}

.section.row7 {
	background-color: #FFF;
	.content-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.textwrap {
		position: relative;
		z-index: 5;
		width: 100%;
		height: 100%;
		@include flexgroup-center();
	}
	.inner {
		width: 80%;
		margin: 0 auto;
		position: relative;
		margin-top: 0;
		@include tab {
			width: 80%;
			margin-top: -11%;
		}
	}
	.innerText {
		@include tab {
			width: 55%;
		}
	}
}

.section.row8 {
	background-color: #FFF;
	position: relative;
	&:after {
		content:"";
		display: block;
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		left: 0;
		background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(1,40,64,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(1,40,64,1) 100%);
		background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(1,40,64,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#012840',GradientType=0 );
		@media screen and (max-width: $xswidth) {
			height: 70%;
		}
	}
	.content-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.textwrap {
		position: relative;
		z-index: 5;
		width: 100%;
		height: 100%;
		//@include flexgroup-center();
	}
	.inner {
		width: 55%;
		position: absolute;
		right: 0;
		padding-top: 18%;
		@include tab {
			width: 50%;
			padding-top: 10%;
		}
		@include mid {
			padding-top: 18%;
		}
		@include extra {
			padding-top: 18%;
			width: 40%;
		}
		@media screen and (max-width: $xswidth) {
			width: 68%;
		}
	}
	.innerText {
		padding-right: 10%;
		@include tab {
			padding-right: 20%;
		}
		@include extra {
			padding-right: 30%;
		}
	}
}
.imageLayer2 {
	width: 100%;
	float: left;
	position: relative;
}
.foot-info {
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	z-index: 20;
	text-align: center;
	.flex {
		@include flexgroup-center();
		@include flexbox-justify(center);
		position: relative;
	}
	.midtext {
		width: 100%;
		margin: 0 auto;
		text-align: left;
		position: relative;
		@include tab {
			width: 80%;
		}
	}
	.foot-icon {
		width: 50px;
		position: relative;
		left: 0;
		@include mid {
			width: 70px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.foot-text {
		color: #FFF;
		font-weight: 800;
		font-style: italic;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		padding-left: 20px;
		@include tab {
			font-size: 2vw;
		}
		@include desk {
			font-size: 25px;
		}
		p {
			margin: 0 0;
		}
		a {
			color: $yellow;
			display: inline-block;
			text-decoration: none;
			position: relative;
			// background: url("images/arrow-right.png");
			// background-size: contain;
			// background-repeat: no-repeat;
			// background-position: top right;
			padding-right: 22px;
			&:after {
				content:'\0041';
				display: inline-block;
				font-family: 'ArrowHalfFilled';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: relative;
				top: 3px;
				right: -7px;
				transition: all ease-out .3s;
			}
			&:hover {
				color: $yellow_light;
				&:after {
					right: -12px;
				}
			}
		}
	}
}
@media screen and (max-width:499px) {
	.foot-info .foot-icon {
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 40px;
	}
	.foot-info .foot-text {
		padding-left: 55px;
		font-size: 12px;
		width: 100%;
		position: relative;
		top: -23px;
	}
}
@media screen and (max-width: $xswidth) {
	.site-footer .foot-info {
		.flex {
			@include flexgroup-center();
		}
		.foot-icon {
			position: static;
			width: 15%;
			float: left;
		}
		.foot-text {
			font-size: 14px;
			width: 85%;
			float: right;
			position: static;
			padding-left: 15px;
		}
	}
}

body.home .site-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}
.site-footer {
	padding-bottom: 30px;
}
.footer-menu {
	text-align: center;
	position: relative;
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		padding: 0 15px 0 14px;
		&:hover {
			color: $yellow;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		li ul {
			display: none;
		}
	}
	.menu {
		display: inline-block;
		text-align: center;
		padding: 10px 0 20px;
	}
	.menu li {
		float: left;
		line-height: 1;
		border-left: 1px solid #FFF;
		@media screen and (max-width: $xswidth) {
			width: 100%;
			border-left: none;
			margin: 3px 0;
			a {
				padding: 4px 10px;
			}
		}
	}
	.menu li:first-child {
		border-left: none;
	}
}
.foot-contact-info {
	margin-top: 10px;
	position: relative;
	text-align: center;
	color: #FFF;
	padding-left: 20px;
	padding-right: 20px;
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
		text-align: center;
	}
	li {
		font-size: 15px;
		line-height: 1;
		float: left;
		padding: 0 16px 0 15px;
		border-left: 1px solid #FFF;
		position: relative;
		@media screen and (max-width: $deskwidth - 1px) {
			display: inline-block;
			width: auto;
			float: none;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		&.info {
			@media screen and (max-width: $xswidth) {
				width: 100%;
				border-left: none;
			}
		}
	}
	.footcontact {
		position: relative;
		@include desk {
			@include flexbox();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
			right: -2%;
		}
		@media screen and (max-width: $deskwidth - 1px) {
			width: 100%;
			text-align: center;
		}
	}
	.footcontact li:first-child {
		border-left: none;
	}
	.social-media {
		border-left: none;
		@media screen and (max-width: $deskwidth - 1px) {
			display: block;
			width: 100%;
			float: left;
			margin-bottom: 0;
			margin-top: 20px;
		}
		a {
			color: #FFF;
			display: inline-block;
			text-decoration: none;
			font-size: 25px;
			line-height: 1;
			margin: 2px 4px;
			@include mid {
				font-size: 2vw;
			}
			@include desk {
				font-size: 25px;
			}
			&:hover {
				color: $yellow;
			}
		}
	}
}

